# Run through the physio sync procedure I'm proposing for phys2bids

In [1]:
from bids import BIDSLayout
import json
import pandas as pd
import numpy as np
import os.path as op

np.set_printoptions(suppress=True)

from phys2bids import conversion

In [2]:
physio_file = '/Users/tsalo/Documents/Laird_DIVA/sourcedata/biopac/sub-Blossom_ses-02.acq'
layout = BIDSLayout('/Users/tsalo/Documents/Laird_DIVA/dset/')

In [3]:
physio_df = conversion.extract_physio_onsets(physio_file)
physio_df.head()

       onset    index  duration
0   181.4695   362939  222.9965
1   428.3875   856775  727.1995
2  1176.8795  2353759  468.7550
3  1673.1680  3346336  412.4035
4  2109.5570  4219114  602.9080

In [4]:
df = conversion.load_scan_data(layout, sub='Blossom', ses='02')
df.head()

,filename,acq_time,duration,onset
5,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:06:21.052500,477,0.0000
6,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:27:05.957500,382.5,1244.9050
7,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:34:22.227500,550.5,1681.1750
8,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:44:42.757500,538.5,2301.7050
9,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:54:48.270000,450,2907.2175

In [5]:
out_df = conversion.synchronize_onsets(physio_df, df)

Selected solution: (5, 1)
Scan DF should be adjusted forward by 428.26300000000015 seconds

In [6]:
out_df.to_csv('/Users/tsalo/Documents/Laird_DIVA/sub-Blossom_synced_func.tsv',
              sep='\t', index=False, line_terminator='\n')
physio_df.to_csv('/Users/tsalo/Documents/Laird_DIVA/sub-Blossom_updated_physio.tsv',
                 sep='\t', index=False, line_terminator='\n')

In [7]:
out_df

,filename,acq_time,duration,onset,phys_onset,index_onset,index_duration
5,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:06:21.052500,477,0.0000,428.2630,856526,954000
6,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:27:05.957500,382.5,1244.9050,1673.1680,3346336,765000
7,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:34:22.227500,550.5,1681.1750,2109.4380,4218876,1101000
8,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:44:42.757500,538.5,2301.7050,2729.9680,5459936,1077000
9,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 17:54:48.270000,450,2907.2175,3335.4805,6670961,900000
10,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 18:03:50.417500,334.5,3449.3650,3877.6280,7755256,669000
11,func/sub-Blossom_ses-02_task-strangerthings_ru...,2020-05-12 18:10:24.997500,448.5,3843.9450,4272.2080,8544416,897000
2,func/sub-Blossom_ses-02_task-PST_run-01_echo-1...,2020-05-12 18:32:42.182500,357,5181.1300,5609.3930,11218786,714000
3,func/sub-Blossom_ses-02_task-PST_run-02_echo-1...,2020-05-12 18:39:10.630000,501,5569.5775,5997.8405,11995681,1002000
0,func/sub-Blossom_ses-02_task-localizerDetectio...,2020-05-12 18:49:28.060000,450,6187.0075,6615.2705,13230541,900000
1,func/sub-Blossom_ses-02_task-localizerEstimati...,2020-05-12 18:57:58.842500,450,6697.7900,7126.0530,14252106,900000
4,func/sub-Blossom_ses-02_task-rest_run-01_echo-...,2020-05-12 19:07:11.817500,300,7250.7650,7679.0280,15358056,600000

In [8]:
physio_df

        onset     index   duration
0    181.4695    362939   222.9965
1    428.3875    856775   727.1995
2   1176.8795   2353759   468.7550
3   1673.1680   3346336   412.4035
4   2109.5570   4219114   602.9080
5   2730.7820   5461564   577.4455
6   3335.6405   6671281   481.8070
7   3877.8985   7755797   363.1190
8   4272.2365   8544473  1244.9415
9   5609.5385  11219077   350.1785
10  5998.0200  11996040   496.9990
11  6615.3350  13230670   450.0100
12  7127.0570  14254114   450.0120
13  7686.3245  15372649   300.1045